* {
  --khaki: hsla(24, 14%, 65%, 1);
  --walnut-brown: hsla(23, 7%, 36%, 1);
  --night: hsla(60, 3%, 6%, 1);
  --gray: hsla(206, 3%, 48%, 1);
  --alice-blue: hsla(210, 31%, 90%, 1);
  --thistle: hsla(278, 17%, 82%, 1);
  --pink-lavender: hsla(311, 21%, 73%, 1);
  --rose-quartz: hsla(293, 10%, 69%, 1);
  --cambridge-blue: hsla(171, 11%, 54%, 1);
  --cadet-gray: hsla(173, 11%, 58%, 1);
}

body {
  background-color: var(--night);
  color: var(--alice-blue);
}

.main-box h2 {
  background-color: rgb(49, 49, 49);
}

nav {
  background-color: rgb(49, 49, 49);
}

.hero::before {
  background-color: hsla(60, 3%, 6%, 0.5);
}

.hero h1 {
  color: var(--alice-blue);
}

.reference {
  background-color: var(--night);
}

.reference h6 {
  opacity: 1;
}

.reference a {
  color: var(--alice-blue);
}

.leaderboard {
  background-color: rgb(49, 49, 49);
}

th, td {
  background-color: var(--night);
}

#save {
  background-color: rgb(49, 49, 49);
  color: var(--alice-blue);
}

textarea {
  background-color: rgb(49, 49, 49);
  color: var(--alice-blue);
  border: auto auto var(--alice-blue);
  scrollbar-color: var(--night) rgb(49, 49, 49);
}

.expandable-section {
  background-color: rgb(49, 49, 49);
}

footer {
  background-color: rgb(49, 49, 49);
}

footer a {
  color: var(--alice-blue);
}