* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  /* CSS HSL */
  --khaki: hsla(24, 14%, 65%, 1);
  --walnut-brown: hsla(23, 7%, 36%, 1);
  --night: hsla(60, 3%, 6%, 1);
  --gray: hsla(206, 3%, 48%, 1);
  --alice-blue: hsla(210, 31%, 90%, 1);
  --thistle: hsla(278, 17%, 82%, 1);
  --pink-lavender: hsla(311, 21%, 73%, 1);
  --rose-quartz: hsla(293, 10%, 69%, 1);
  --cambridge-blue: hsla(171, 11%, 54%, 1);
  --cadet-gray: hsla(173, 11%, 58%, 1);
}

body {
  background-color: #dde5edff;
  color: var(--night);
  margin: 0;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
}

nav {
  background-color: var(--khaki);
  margin: 0;
  padding: 10px 0;
  width: 100%;
  text-align: center;
  color: var(--alice-blue);
}

nav ul {
  padding: 0;
}

li {
  display: inline-block;
  width: 80px;
}

.hero {
  padding: 0;
  text-align: center;
  background-image: url(../images/susan-weber-MrtjMjQZQRw-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero::before {
  content: "";
  display: inline-block;
  position: absolute;
  background-color: hsla(23, 7%, 36%, 0.5);
  width: 100vw;
  left: 0vw;
}

.hero, .hero::before {
  height: 90px;
}

.hero > * {
  position: relative;
}

.hero > div {
  padding: 2px 10px;
  align-self: flex-end;
  justify-self: flex-end;
}

h1 {
  font-size: 2.5rem;
  font-weight: normal;
  color: var(--alice-blue);
  width: auto;
  font-family: 'Shadows Into Light', cursive;
}

main {
  display: flex;
  margin: 0 auto;
  min-height: min-content;
  max-width: 900px;
  justify-content: space-evenly;
  justify-items: center;
  flex-wrap: wrap;
  gap: 30px 10px;
  /*
  grid-template-columns: 1fr;
  grid-template-rows: minmax(max-content, 40vh);
  grid-auto-rows: minmax(max-content, 40vh);
  gap: 5vh;*/
}

section {
  /*margin: 10px;*/
  padding: 10px;
  max-width: 100%;
  text-align: center;
}

.main-box {
  min-height: 300px;
  width: 100%;
  border: 1px solid var(--khaki);
  border-radius: 5px;
}

.main-box h2 {
  background-color: var(--khaki);
  border-radius: 5px;
}

#goals {
  padding: 40px;
}

.expandable-section {
  margin: 3%;
  padding: 2% 10%;
  width: 94%;
  display: none;
  position: -webkit-sticky;
  position: sticky;
  top: calc();
  background-color: var(--thistle);
  border-radius: 30px;
}

footer {
  background-color: var(--khaki);
  color: var(--alice-blue);
  margin-top: 30px;
  padding: 10px;
  width: 100%;
}

#about p {
  margin: auto auto;
  max-width: 500px;
}

#goals h2 {
  text-align: center;
  margin: 1rem 0.5rem 0rem 0.5rem;
}

input[type=number] {
  width: 70px;
  text-align: right;
}

.checkmark-settings {
  margin: 5px auto;
  text-align: left;
  width: fit-content;
}

.number-settings {
  width: fit-content;
  margin: 5px auto;
  display: grid;
  grid-template-columns: [label] auto [input] 60px;
  gap: 5px 10px;
}

.number-settings label {
  grid-column: label;
  align-self: center;
  justify-self: start;
}

.number-settings input {
  grid-column: input;
  align-self: center;
  width: 60px;
}

.game-box {
  height: 95%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.game-box h3, .game-box p{
  font-size: 1.25rem;
}

.stat {
  width: 50%;
}

.stat p {
  font-size: 1.5rem;
}

h2 {
  margin-bottom: 10px;
}

textarea {
  display: block;
  background-color: whitesmoke;
  border: 1px solid var(--night);
  padding: 10px;

  font: 1em sans-serif;
  text-align: left;

  /* Uniform text field size */
  width: 100%;
  height: 280px;
  box-sizing: border-box;

  resize: none;
  overflow-y: scroll;
}

form {
  /* Center the form on the page */
  margin: 0 auto;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 1em;
}

input[type=button] {
  margin: 0.5rem auto;
}

.expandable-section hr {
  border-bottom: 1px solid var(--pink-lavender);
}

.reference {
  padding: 0;
  font-size: 0.75rem;
  text-align: right;
  background-color: hsla(210, 31%, 90%, 0.6);
}

.scrollable {
  max-height: 280px;
  overflow: auto;
}

.leaderboard {
  background-color: var(--khaki);
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

th, td {
  min-height: 2.5rem;
  background-color: var(--alice-blue);
  width: 33%;
  height: 2.5rem;
  margin: 1px;
  padding: 5px;
}

.ultimate-goal input[type=number] {
  width: fit-content;
}

#session-goal-settings {
  display: block;
}

#goal-indicator {
  display: none;
}

@keyframes multiplierUpdate {
  from {
    color: red;
    top: -0.4em;
  }
  to {
    color: red;
    top: -0.25em;
  }
}

#multiplier-anchor {
  position: relative;
}

#multiplier {
  font-weight: normal;
  font-size: 0.75em;
  top: -0.25em;
  left: -0.25em;
  position: absolute;
  display: inline-block;
  width: 30px;
  z-index: 50;
}

.increased-multiplier {
  animation-name: multiplierUpdate;
  animation-duration: 500ms;
  animation-iteration-count: 3;
  animation-timing-function: ease-out;
}


@media only screen and (min-width: 480px) {
  h1 {
    font-size: 3.5rem;
  }

  .main-box {
    width: 45%;
  }

  .hero, .hero::before {
    height: 112px;
  }
}

@media only screen and (min-width: 600px) {
  h1 {
    font-size: 5rem;
  }

  .hero, .hero::before {
    height: 150px;
  }
}

@media only screen and (min-width: 800px) {
  .main-settings {
    display: flex;
  }
  .main-settings > div {
    width: 50%;
  }
}
