* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  /* CSS HSL */
  --khaki: hsla(24, 14%, 65%, 1);
  --walnut-brown: hsla(23, 7%, 36%, 1);
  --night: hsla(60, 3%, 6%, 1);
  --gray: hsla(206, 3%, 48%, 1);
  --alice-blue: hsla(210, 31%, 90%, 1);
  --thistle: hsla(278, 17%, 82%, 1);
  --pink-lavender: hsla(311, 21%, 73%, 1);
  --rose-quartz: hsla(293, 10%, 69%, 1);
  --cambridge-blue: hsla(171, 11%, 54%, 1);
  --cadet-gray: hsla(173, 11%, 58%, 1);
}

body {
  background-color: #dde5edff;
  color: var(--night);
  margin: 0;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 100;
}

nav {
  background-color: var(--khaki);
  margin: 0;
  padding: 10px 0;
  width: 100%;
  text-align: center;
  color: var(--alice-blue);
}

nav ul {
  padding: 0;
}

li {
  display: inline-block;
  width: 80px;
}

.hero {
  padding: 0;
  text-align: center;
  background-image: url(../images/susan-weber-MrtjMjQZQRw-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

h1 {
  font-size: 2.5rem;
  font-weight: normal;
  color: var(--alice-blue);
  width: auto;
  background-color: hsla(23, 7%, 36%, 0.5);
  /*text-shadow: var(--night) 0px 0px 50px;*/
  font-family: 'Shadows Into Light', cursive;
}

main {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  grid-template-rows: 60vh;
  grid-auto-rows: 60vh;
  gap: 5vh;
}

section {
  /*margin: 10px;*/
  padding: 10px;
  max-width: 100%;
  text-align: center;
}

.expandable-section {
  margin: 3%;
  padding: 2% 10%;
  width: 94%;
  display: none;
  position: -webkit-sticky;
  position: sticky;
  top: calc();
  background-color: var(--thistle);
  border-radius: 30px;
}

#about p {
  margin: auto auto;
  max-width: 500px;
}

#goals h2 {
  text-align: center;
  margin: 1rem 0.5rem 0rem 0.5rem;
}

input[type=number] {
  width: 70px;
  text-align: right;
}

.checkmark-settings {
  margin: 5px auto;
  text-align: left;
  width: fit-content;
}

.number-settings {
  width: fit-content;
  margin: 5px auto;
  display: grid;
  grid-template-columns: [label] auto [input] 60px;
  gap: 5px 10px;
}

.number-settings label {
  grid-column: label;
  align-self: center;
  justify-self: start;
}

.number-settings input {
  grid-column: input;
  align-self: center;
  width: 60px;
}

.game-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.game-box h2, .game-box p{
  font-size: 1.25rem;
}

.stat {
  width: 50%;
}

.stat p {
  font-size: 1.5rem;
}

textarea {
  display: block;
  background-color: whitesmoke;
  border: 1px solid var(--night);

  font: 1em sans-serif;
  text-align: left;

  /* Uniform text field size */
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  resize: none;
  overflow-y: scroll;
}

form {
  /* Center the form on the page */
  margin: 0 auto;
  width: 100%;
  height: 100%;
  /* Form outline */
  padding: 0.5em;
  border: 1px solid var(--khaki);
  border-radius: 1em;
}

input[type=button] {
  margin: 0.5rem auto;
}

hr {
  border-top: 1px solid var(--khaki);
  border-bottom: 1px solid var(--alice-blue);
}

.expandable-section hr {
  border-bottom: 1px solid var(--pink-lavender);
}

.reference {
  text-align: right;
  background-color: hsla(210, 31%, 90%, 0.6);
}

#leaderboard {
  background-color: var(--khaki);
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

#leaderboard tr {
  min-height: 2.5rem;
}

#leaderboard th,td {
  background-color: var(--alice-blue);
  width: 5rem;
  height: 2.5rem;
  margin: 1px;
}

.ultimate-goal input[type=number] {
  width: fit-content;
}

@media only screen and (min-width: 480px) {
  h1 {
    font-size: 3.5rem;
  }

  main {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 600px) {
  h1 {
    font-size: 5rem;
  }
}
